<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset=utf-8>
	<meta name=description content="">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous" />

</head>
<body class="container">
	<h1>Upload a File!</h1>
	<hr>
	<div class="card card-body">
	<form enctype="multipart/form-data" method="POST" action="/submitEndpoint">
		<div class="form-group">
			<label>My Text Input
				<input type="text" name="myText" />
			</label>
		</div>
		<div class="form-group">
			<label>My File Input
				<input type="file" name="myFile" />
			</label>
		</div>
		<input type="submit" name="submitTheForm" class="btn btn-primary btn-raised" />
	</form>
	</div>
	<div class="card card-body">
		<ul>
			<% files.forEach(function(file){ %>
			<li>
				<h4><%= file.name %></h4>
				<a class="btn" href="/files/<%- file.location %>" target="_blank">Try it out</a>
			</li>
			<% }); %>
		</ul>
	</div>

	<footer>
		<a href="https://davidwalsh.name/nodejs-http-request">Muchas Gracias!</a>
        <a href="https://docs.nodejitsu.com/articles/advanced/streams/how-to-use-fs-create-write-stream/">Vielen Dank!</a> 
        <a href="https://elegantcode.com/2011/04/06/taking-baby-steps-with-node-js-pumping-data-between-streams/">Merci beaucoup!</a>
	</footer>
</body>
</html>