<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset=utf-8>
	<meta name=description content="">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous" />

</head>
<body class="container">
	<h1>Upload a File!</h1>
	<hr>
	<form enctype="multipart/form-data" method="POST" action="/submitEndpoint">
		<div class="form-group">
			<label>My Text Input
				<input type="text" name="myText" />
			</label>
		</div>
		<div class="form-group">
			<label>My File Input
				<input type="file" name="myFile" />
			</label>
		</div>
		<input type="submit" name="submitTheForm" class="btn btn-primary btn-raised" />
	</form>
</body>
</html>